@import "tailwindcss";

body {
  background-color: rgb(0, 0, 0);
}

/* link de nav */
.text-sm-link {
  font-size: 12px;
}

#nprogress .bar {
  display: none !important;
}

#nprogress .spinner-icon {
  border-top-color: #4ade80 !important;
  border-left-color: #4ade80 !important;
  position: fixed;
  top: 2%;
  left:1%;
}

@media (max-width: 768px) {
  #nprogress .spinner-icon {
    right: 5%;
  }
}
